html, body {
  width: 100vw;
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

@import '~element-plus/lib/theme-chalk/base.css';
@import '~element-plus/lib/theme-chalk/el-message.css'